@model IEnumerable<EducationTrackProject.Models.StudentAnswer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentAnswerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentAnswerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentAnswerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
